<%= simple_form_for(@node) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
<div class="col-md-6">
  <div class="card border-info">
    <div class="card-header">
      New Node
    </div>
    <div class="card-body">
      <%= f.input :node, placeholder: 'ABCD' %>
      <%= f.input :txlocation, label: 'Transmitter Location', placeholder: '01.02.03.04' %>
      <%= f.input :rxlocation, label: 'Receiver Location', placeholder: '04.03.02.01' %>
      <%= f.input :headend_id, collection: Headend.all, label_method: :headend, label: "Headend", prompt: 'Select', required: true %>
      <%= f.input :hub, label: 'HUB', placeholder: 'Berkeley A' %>
      <%= f.input :cmts, label: 'CMTS', placeholder: 'acr01.berkeley' %>
      <%= f.input :cmts_port, label: 'CMTS Port Assignment' %>
      <%= f.input :arpd, label: 'ARPD' %>
      <%= f.input :arpd_sg, label: 'ARPD Port Assignment' %>
      <%= f.input :fw_mux, label: 'Forward MUX' %>
      <%= f.input :rtn_mux, label: 'Return MUX' %>
      <%= f.input :comments %>
      <%= f.input :documents, as: :file, :input_html => { :multiple => true } %>
      <%= f.button :submit, 'Save', class: "btn-info" %>
      <%= link_to "Cancel", nodes_path, class: 'btn btn-xs btn-dark' %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card border-dark">
    <div class="card-header">
      Scheduling
    </div>
    <div class="card-body">
      <%= f.input :origindate %>
      <%= f.input :cutdate%>
      <%= f.input :cut_complete, as: :boolean, checked_value: 'true', unchecked_value: 'false' %>
    </div>
  </div>
</div>
</div>
<% end %>
