<div class="row">
  <div class="col align-self-center">
    <div class="card border-info">
      <div class="card-header border-info text-white bg-dark mb-3">
        <h4><%= icon('fas', 'table', 'Nodes') %></h4>
      </div>
      <div class="card-body">
        <table role="datatable" class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Node</th>
              <th>Detail SOW</th>
              <th>HUB</th>
              <th>Headend</th>
              <th>Cutover Date</th>
              <th>Cutover Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @nodes.each do |node| %>
              <tr>
                <td><%= node.node %></td>
                <td><%= node.detail_sow %></td>
                <td><%= node.hub %></td>
                <td><%= node.headend.headend %></td>
                <td><%= node.cutdate.strftime("%m/%d/%Y")%></td>
                <td><%= show_check_icon node.cut_complete %></td>
                <td><%= link_to icon('fas', 'search-plus'), node, class: "btn btn-secondary btn-sm" %>
                    <%= link_to icon('fas', 'edit'), edit_node_path(node), class: "btn btn-info btn-sm" %>
                    <% if current_user.admin? %>
                    <%= link_to icon('fas', 'trash-alt'), node, class: "btn btn-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-right text-white bg-dark">
        <%= link_to icon('fas', 'plus', 'Add Node'), new_node_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
