<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-info text-white bg-dark mb-3">
        <div class="card-body">
          <h5><%= @node.node %></h5>
        </div>
      </div>
      <div class="card-deck">
        <div class="card border-info">
          <div class="card-header text-white bg-dark text-white bg-dark">
            Node Details
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">Transmitter Location:
                <span><%= @node.txlocation %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Receiver Location:
                <span><%= @node.rxlocation %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">HUB:
                <span><%= @node.hub %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Headend:
                <span><%= @node.headend.headend %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card border-info">
          <div class="card-header text-white bg-dark">
            MUX Details
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">Forward MUX:
                <span><%= @node.fw_mux %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Return MUX:
                <span><%= @node.rtn_mux %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card border-info">
          <div class="card-header text-white bg-dark">
            Services Details
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">CMTS:
                <span><%= @node.cmts %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">CMTS Port:
                <span><%= @node.cmts_port %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">ARPD:
                <span><%= @node.arpd %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">ARPD Port:
                <span><%= @node.arpd_sg %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card-deck">
        <div class="card border-info">
          <div class="card-header text-white bg-dark">
            Comments
          </div>
          <div class="card-body">
            <p class="card-text"><%= @node.comments %></p>
          </div>
        </div>
        <div class="card border-info">
          <div class="card-header text-white bg-dark">
            Scheduling
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">Origin Date:
                <span><%= @node.origindate %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Cut-Over Date:
                <span><%= @node.cutdate %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Cut Complete:
                <span><%= show_check_icon @node.cut_complete %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'Edit Node', edit_node_path(@node), class: "btn btn-info" %>
  <%= link_to 'Back', nodes_path, class: "btn btn-secondary" %>
</div>
<br>
