<%= simple_form_for(@headend) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
  <div class="col-md-6">
    <div class="card border-info">
      <div class="card-header">Headend</div>
      <div class="card-body">
        <%= f.input :headend, label: "Headend" %>
        <%= f.button :submit, class: "btn-info" %>
        <%= link_to "Cancel", headends_path, class: 'btn btn-xs btn-dark' %>
      </div>
    </div>
  </div>
</div>

<% end %>
