<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-8  col-xl-12 ">
    <div class="card border-dark mb-3">
      <div class="card-body">
        <h1 class="docs-title">Headends</h1>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Headend</th>
              <th>Node Count</th>
              <th colspan="1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @headends.each do |headend| %>
              <tr>
                <td><%= link_to "#{headend.headend}", headend_path(headend) %></td>
                <td><%= pluralize(headend.nodes.count, "Node") %></td>
                <td><%= link_to icon('fas', 'search-plus'), headend, class: "btn btn-success btn-sm" %>
                  <%= link_to icon('fas', 'edit'), edit_headend_path(headend), class: "btn btn-info btn-sm" %>
                  <%= link_to icon('fas', 'trash-alt'), headend, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
